/*- Custom style -*/

// -- Put custom style under this point -- //

body {
  overflow-x: hidden;
}

#post-page h2 {
  color: $main-color;
}

#post-page figure {
  overflow: scroll;
}

#post-page #rss span {
  vertical-align: middle;
}

#post-page #rss img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#post-page #twitter-icon img {
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0 0 0;
}

#post-page figcaption {
	text-align: center;
}
